@model EventModel
@using Nop.Admin.Models.Events;
@using System.Globalization;
@{
    //page title
    ViewBag.Title = T("rel.CreateEvent").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("rel.openEventstartsat") - @Model.OpenEventStartsAt.ToString() @T("rel.openEventendsat") - @Model.OpenEventEndsAt.ToString()
            @Html.ActionLink("(" + T("rel.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateEvent", Model)
}