@model CustomerNavigationModel           
@using Nop.Web.Models.Customer;
<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="inactive">@(item.Title)</a>
                </li>
            }
            <li class="wholesaler-link">
                <a href="@Url.RouteUrl("Wholesaler.Products")" class="active">@T("Wholesaler.viewproducts")</a>
            </li>
        </ul>
    </div>
</div>
